@model List<Core_Departman.Models.Departman>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.DepartmanAdi</td>
            <td><a href="/Depart/DepartDelete/@item.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğinizden emin misiniz?')">Sil</a></td>
            <td><a href="/Depart/DepartmanGetir/@item.Id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Depart/Details/" class="btn btn-outline-dark" style="background-color:#dee61d">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Depart/NewDepartman/" class="btn btn-primary">Yeni Departman</a>