
@{
    Layout = null;
}

<h5>Details</h5>
<br />
<div>Burası Deneme Sayfasıdır </div>
<br />
@{
    var deger = "<b>Merhaba</b>" + "<p style=\"color:blue; font-weight:bold\">Burası 2.cumle</p>";
}
@Html.Raw(deger)