
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <div>Burası Layou Alanıdır </div><br />
    <h2>Layout Sayfama Hoş Geldiniz</h2>
    @RenderBody()
</body>
</html>
